<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>product</title>
  <meta name="keywords" content="product" />
  <meta name="description" content="product" />
</head>
<body>

  <!-- container -->
  <div class="container">

    <div layout:fragment="partial1">
    <!-- partial1 start -->
    <div class="row">
      <div class="col-md-12 well">
        <h3>detail - contents</h3>

        <table class="table" th:if="${product}" th:object="${product}">
          <tbody>
            <tr>
              <th class="field-label col-xs-3 active">id</th>
              <td class="col-md-9" th:text="*{id}">id</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productCode</th>
              <td class="col-md-9" th:text="*{productCode}">productCode</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productName</th>
              <td class="col-md-9" th:text="*{#vhs.substring(productName,10)}">productName</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productLine</th>
              <td class="col-md-9" th:text="*{productLine}">productLine</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productScale</th>
              <td class="col-md-9" th:text="*{productScale}">productScale</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productVendor</th>
              <td class="col-md-9" th:text="*{productVendor}">productVendor</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productDescription</th>
              <td class="col-md-9" th:text="*{#vhs.substring(productDescription,10)}">productDescription</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">quantityInStock</th>
              <td class="col-md-9" th:text="*{quantityInStock}">quantityInStock</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">buyPrice</th>
              <td class="col-md-9" th:text="*{buyPrice}">buyPrice</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">MSRP</th>
              <td class="col-md-9" th:text="*{MSRP}">MSRP</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- partial1 end -->
    </div>

  </div>
  <!-- container -->

</body>
</html>